@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lora:wght@400..700&family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  /* Define custom colors in the theme so you can use bg-midnight or text-midnight */
  --color-midnight: #05255f;
  --color-tahiti: #ffd952;
  --color-background: #dfe3ff;
  --color-background2: #eeeff5;
  --color-bermuda: #d1edf5;

  /* Define font families as utilities */
  --font-inter: "Inter", ui-sans-serif, system-ui;
  --font-lora: "Lora", ui-serif, Georgia;
  --font-outfit: "Outfit", sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    /* Set the default font and default text color here */
    @apply font-inter text-midnight antialiased bg-white;
  }

  /* Professional way to handle headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-lora font-semibold;
  }
}
